
/* FONTS */

@font-face {
    font-family: 'sc';
    src: local('Shella - Clean Version'), local('ShellaClean'),
        url('../fonts/ShellaClean.woff2') format('woff2'),
        url('../fonts/ShellaClean.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pa';
    src: local('Pacific Again'), local('PacificAgain'),
        url('../fonts/PacificAgain.woff2') format('woff2'),
        url('../fonts/PacificAgain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bungee-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bungee'), local('Bungee-Regular'),
       url('../fonts/bungee-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bungee-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bungee-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/bungee-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bungee-v3-latin-regular.svg#Bungee') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'bs';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/berkshire-swash-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Berkshire Swash Regular'), local('BerkshireSwash-Regular'),
       url('../fonts/berkshire-swash-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/berkshire-swash-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/berkshire-swash-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/berkshire-swash-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/berkshire-swash-v6-latin-regular.svg#BerkshireSwash') format('svg'); /* Legacy iOS */
}