body{
	background: #34495e;
	margin: 0;
}

img.logo{
	height: 300px;
	border-radius: 170px;
	background: #fff;
	opacity: 0.7;
	transition: opacity 1.2s;
}


img.logo:hover{
	opacity: 1;
	transition: opacity 1.2s;
}


h1.dev-name{
	color: #111;
	font-family: Bungee;
	font-size: 3em;
	word-spacing: 10px;
	letter-spacing: 5px;
	margin: 0;
}

h1.dev-name name{
	color: #fff;
	font-family: Bungee;
	font-size: 1.5em;
	word-spacing: 10px;
	letter-spacing: 5px;
	margin: 0;
}

h3.dev-details{
	color: #111;
	font-family: Bungee;
	font-size: 1.4em;
	margin: 0;
	word-spacing: 5px;
	letter-spacing: 3px;
}

h3.dev-note{
	color: #fff;
	font-family: Bungee;
	font-size: 1.4em;
	margin-top: 5px;
	word-spacing: 5px;
	letter-spacing: 3px;
}